.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}

.card {
  display: flex;
  flex-wrap: wrap;
  border: none;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

img#header {
  display: flex;
  border-radius: 0%;
  border: none;
  width: 30%;
}

img {
  border-radius: 100%;
  width: 60%;
  height: 60%;
}

#span {
  background-color: #05a081 !important;
}

a {
  text-decoration: none;
}
