.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
img {
  border: solid black 2px;
  border-radius: 100%;
  width: 60%;
  height: 60%;
}
